# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.API.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Vinicius Oliveira\Documents\Projetos\Webpic\API\.idea\.idea.API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
